.content {
	padding: 15px;
}

.content table.head, .content table.povr{
	width: 100%;
	border: 1px solid black;
	padding: 20px 10px;
	float: none;
}

.content table.povr{
	padding: 10px;
}

.content table.povr a:hover,
.content table.povr a:focus,
.content table.povr a:active {
	text-decoration: underline;
}

.style-table table {
	width: 32.4%;
	float: left;
	border: 1px solid black;
	padding: 5px 10px;
}
