.info a {
	float: right;
	font-size: 10px;
	font-style: italic;
}

.info a:hover,
.info a:focus,
.info a:active {
	text-decoration: underline;
}

.info-links {
	padding-left: 20px;
	text-align: center;
}

.info-links ul li {
	width: 100%;
	text-align: center;
	margin: 15px 0;
	background-color: white;
}

.info-links ul li:first-child {
	margin: 0 0 15px 0;
}

.info-links ul li a {
	display: block;
	padding: 10px;
}

.info-links img {
	width: 100%;
	text-align: center;
}